.signin-form{
    margin-top: 40px;
}

.signin-form .input{
    display: flex;
}

.signin-form input{
    margin: 2px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(71, 164, 246);
}

.signin-form input.error{
    border: 1px solid #f91d1d;
}

.signin-form input.error::placeholder{
    color: #f91d1d;
}

.signin-form .dropdown.error{
    border: 1px solid #f91d1d;
}

.signin-form input:focus{
    box-shadow: 4px 4px 4px 2px rgb(71, 164, 246), -4px -4px 4px 2px rgb(71, 164, 246), -4px 4px 4px 2px rgb(71, 164, 246), 4px -4px 4px 2px rgb(71, 164, 246);
    /* border: 4px solid rgb(71, 164, 246); */
    color:rgb(71, 164, 246);
    outline: 0px;
}

.signin-form .dropdown{
    margin: 2px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(71, 164, 246);
}

.signin-form .dropdown:focus{
    box-shadow: 4px 4px 4px 2px rgb(71, 164, 246), -4px -4px 4px 2px rgb(71, 164, 246), -4px 4px 4px 2px rgb(71, 164, 246), 4px -4px 4px 2px rgb(71, 164, 246);
    /* border: 4px solid rgb(71, 164, 246); */
    /* background-color:rgb(71, 164, 246); */
    outline: 0px;
    color:rgb(71, 164, 246);
}

.signin-form button{
    border: 0px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgb(71, 164, 246);
}

.signin-form button:hover{
    background-color: #ffffff;
    color: rgb(71, 164, 246);
}

.error{
    color: #f91d1d;
    font-size: 15px;
    width: 220px;
}