.profile{
    display: flex;
    /* justify-content: space-evenly; */
    /* border: 1px solid black; */
}

.profile-left{
    width: 400px;
    /* border-right: 1px solid rgb(71, 164, 246); */
    box-shadow: 2px 10px 10px rgb(185, 185, 187);
}

.profile-top{
    display: grid;
    justify-content: center;
    margin: 50px auto 15px;
    /* background-color: rgb(107, 157, 200); */
}

.profile-left .profile-image{
    width: 150px;
    height: 150px;
    color: rgb(136, 191, 239);
    cursor: pointer;
}

.profile-menu .profile-item{
    width: 90px;
    height: 50px;
    display: grid;
}

.profile-edit{
    width: 70px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(71, 164, 246);
}

.profile-edit:hover{
    background-color: rgb(71, 164, 246);
    color: #ffffff;
}

.profile-name{
    margin-bottom: 60px;
}

.profile-name p{
    margin: 0px auto 5px;
    color: rgb(71, 164, 246);
}

.profile-points p{
    color: rgb(71, 164, 246);
    width: 250px;
    margin: 60px auto;
    padding: 5px;
    font-weight: 500;
    font-size: large;
    border: 1px solid rgb(71, 164, 246);
    border-radius: 50px;
    cursor: pointer;
}

.profile-points p:hover{
    color: #ffffff;
    background-color: rgb(71, 164, 246);
}

.profile-points .acc-button.active{
    color: #ffffff;
    background-color: rgb(71, 164, 246);
}

.profile-right{
    margin: 50px;
}

.profile-head{
    color: rgb(71, 164, 246);
    font-size: larger;
    font-weight: 500;
    text-align: left;
}

.profile-details .details-list, .admin-details .admin-list, .reset-password .reset-list{
    display: flex;
    justify-content: space-between;
    width: 880px;
    margin: 30px auto;
    padding: 20px 20px;
    text-align: left;
    font-weight: 500;
    font-size: large;
    color: rgb(71, 164, 246);
    box-shadow: 2px 2px 4px 1px rgb(71, 164, 246);
}

.profile-details .details-list div:nth-child(2){
    text-align: right;
    font-size: medium;
    font-weight: 400;
}

.admin-details .admin-list input, .reset-password .reset-list input{
    width: 350px;
    height: 35px;
    border: 1px solid rgb(71, 164, 246);
    border-radius: 50px;
}

.admin-details .admin-list input:focus, .reset-password .reset-list input:focus{
    outline: none;
    color: rgb(71, 164, 246);
    box-shadow: 2px 2px 2px 2px rgb(71, 164, 246), -2px -2px 2px 2px rgb(71, 164, 246), -2px 2px 2px 2px rgb(71, 164, 246), 2px -2px 2px 2px rgb(71, 164, 246);
}

.admin-details button , .reset-password button{
    width: 200px;
    height: 40px;
    font-size: large;
    font-weight: 500;
    margin-top: 30px;
    color: #ffffff;
    background-color: rgb(71, 164, 246);
    border: 1px solid rgb(71, 164, 246);
    border-radius: 50px;
}

.admin-details button:active , .reset-password button:active{
    background-color: #ffffff;
    color: rgb(71, 164, 246);
}

.input-otp{
    width: 250px;
    height: 40px;
    border: 1px solid rgb(71, 164, 246);
    border-radius: 50px;
}

.input-otp:focus{
    outline: 0px;
    color: rgb(71, 164, 246);
    box-shadow: 2px 2px 2px 2px rgb(71, 164, 246), -2px -2px 2px 2px rgb(71, 164, 246), -2px 2px 2px 2px rgb(71, 164, 246), 2px -2px 2px 2px rgb(71, 164, 246);
}

.delete-card{
    width: 650px;
    height: 250px;
    margin-top: 50px;
    margin-left: 150px;
    box-shadow: 2px 2px 4px 1px rgb(71, 164, 246);
}

.delete-card label{
    color: rgb(71, 164, 246);
    font-size: large;
    margin: 30px auto;
}

.delete-card input{
    width: 400px;
    height: 40px;
    border: 1px solid rgb(71, 164, 246);
    border-radius: 50px;
}

.delete-card input:focus{
    outline: none;
    color: rgb(71, 164, 246);
    box-shadow: 2px 2px 2px 2px rgb(71, 164, 246), -2px -2px 2px 2px rgb(71, 164, 246), -2px 2px 2px 2px rgb(71, 164, 246), 2px -2px 2px 2px rgb(71, 164, 246);
}

.delete-card .delete-buttons{
    margin-top: 50px;
}

.delete-card .delete-buttons button{
    width: 120px;
    height: 40px;
    font-size: large;
    font-weight: 500;
    border-radius: 50px;
    margin: auto 25px;
}

.delete-card .delete-buttons button:nth-child(1){
    color: #ffffff;
    background-color: rgb(71, 164, 246);
    border: 1px solid rgb(71, 164, 246);
}

.delete-card .delete-buttons button:nth-child(1):active{
    background-color: #ffffff;
    color: rgb(71, 164, 246);
}

.delete-card .delete-buttons button:nth-child(2){
    color: #ffffff;
    background-color: rgb(248, 64, 64);
    border: 1px solid rgb(248, 64, 64);
}